name: Test Packages

on:
  push:
    branches:    
      - main
      - log-monitoring
      
  pull_request:
    branches:    
      - main
      - log-monitoring

jobs:
  test:
    name: Test

    # See available software: https://github.com/actions/virtual-environments/blob/master/images/macos/macos-15-Readme.md
    strategy:
      matrix:
        os: [macos-15, ubuntu-latest]

    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4

    - name: Run tests
      run: swift test
